table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

/* Заголовки таблиці */
thead th {
  background-color: #333;
  color: white;
  font-weight: bold;
}

/* Чергування кольорів для рядків */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #e0e0e0;
}
